

.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
h1{
  color:chocolate;
  text-shadow:#ccc;
}